.no-page-container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-page-container h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.btn4,
.btn5 {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
}

.btn4:hover,
.btn5:hover {
    background-color: #0056b3;
}